.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }

  .success{
    font-size: 2em;
    color: #42A948;
    background-color: #FFFF;
  }
  p{
    padding: 15px;
    background-color:lightgrey;
    font-weight: bold;
  }