<h1>WPT Report</h1>

<h3>
    Painel de Relatórios Web Page Speed
    Carregamento de recursos da <b>GPT</b> (Google Publisher Tag)
</h3>

<h4>Funcionalidades</h4>

<h5>
    Importação e armazenamento de arquivos .har do 
    <a href="https://www.webpagetest.org/" target="_blank">Web Page Test</a>
</h5>

<h5>Conversão de .HAR para .JSON com dados selecionados para relatório</h5>
<h5>Lista de relatórios armazenados</h5>
<h5>Resumo de velocidade de carregamento de recursos da GPT a partir de JSON</h5>

<h4>Getting Started</h4>
<div class="row">
    <div class="six columns">
        <a href="https://docs.google.com/document/d/1q0GmkiJvSEJotbQgPMiPXEOOvtS6toybVlc4thxekV0/edit" target="_blank"> Tools & Tips - Training</a>
        <h5>Google</h5>
        <a href="https://developers.google.com/web/fundamentals/performance/why-performance-matters" target="_blank"> Why Performance Matters</a><br/>
        <a href="https://support.google.com/admanager/answer/181073?hl=en" target="_blank">Overview of GPT</a>><br/>
        <a href="https://support.google.com/admanager/answer/1638622?hl=en" target="_blank">GPT sample</a>><br/>
        <a href="https://support.google.com/admanager/answer/7485975?hl=en&ref_topic=4390039" target="_blank">GPT best practices</a>
        <a href="https://support.google.com/admanager/answer/4524488" target="_blank">Viewability and Active View</a> 
        <h5>External</h5>
        <a href="https://headerbidding.co/google-publisher-tag-gpt/" target="_blank">Sobre a GPT (Google Publisher Tag)</a>
    </div>
    
    <div class="six columns">
        <h5>Analysis Resources</h5>
        <a href="https://docs.google.com/presentation/d/1UVk_BMFY2KYIsFaS96sJq9KECmTODxTLbUKT13suebw/edit#slide=id.g22d01a4096_0_10" target="_blank">PageSpeed Deck Template</a><br/>
        <a href="https://docs.google.com/presentation/d/1DwUh4EOQGf5cpK5j4SR1SVE_yHRBQB5OTA20rXm80WU/edit#slide=id.g22d01a4096_0_10" target="_blank">FollowUp Deck Template</a><br/>
        <a href="https://docs.google.com/document/d/1wq2uA0IhNLW-_iuSpFMTHge7IfQXaaNI4AKBoCsXuZY/edit#heading=h.jmd7tboz7xy6" target="_blank">Email Templates</a><br/>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSd1K_9ysV8POHFDgWMynrwdd3t6ooYliIVjxObnLX__O8WMVw/viewform" target="_blank">LPS Engagement Form</a><br/>
        <a href="https://docs.google.com/spreadsheets/d/1iNhPIEpF1P4V3WmfM5n818RWUUPIyQ1XdHKV8mNj5v4/edit#gid=2036050013" target="_blank">LPS Sheet (Inform Calls to close ticket)</a>
    </div>
</div>        
